<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<th:block th:fragment="section">
		<div class="row align-items-md-stretch">
			<!-- 상단 좌측(달력, 태그 부분) 시작 -->
			<div class="col-md-6">
			<div class="h-100 p-5 rounded-3">
				<h2>달력, 태그 부분</h2>
				<p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
				<button class="btn btn-outline-light" type="button">Example button</button>
			</div>
			</div>
			<!-- 상단 좌측(달력, 태그 부분) 끝 -->

			<!-- 상단 우측(Quiz 모음 부분) 시작-->
			<div class="col-md-6">
			<div class="h-100 p-5 bg-light border rounded-3">
				<h2>Quiz 모음 부분</h2>
				<p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
				<button class="btn btn-outline-secondary" type="button">Example button</button>
			</div>
			</div>
			<!-- 상단 우측(Quiz 모음 부분) 끝-->
		</div>
	</th:block>
</body>
</html>